---
import BlogPost from "../components/BlogPost.astro";
import Layout from "../layouts/Layout.astro";
import { db, Comments } from "astro:db";

const resp = await fetch(Astro.url + "api/echo");

let message = "No server data";

if (resp.status === 200) {
  message = await resp.text();
}

const newPost: Comments = await db.select().from(Comments);

console.log(newPost[0].title);
---

<Layout title="kilic.net">
  <main>
    Found {newPost.length} posts.
    <hr />
    {
      newPost?.map((post) => (
        <BlogPost
          title={post.title}
          description={post.description}
          pubDate={post.pubDate}
          url={post.slug}
        />
      ))
    }
    <hr />
    <ul>
      API server side: {message}
    </ul>
  </main>
</Layout>

<style>
  .dt-published {
    color: #999;
  }
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
